# Final Frontier Ribbon Pack - adsii1970 custom ribbons - officer ranks
#
# Special thanks to SmarterThanMe for his assistance in explaining how to assemble a mod compatible with Final Frontier.
# And without the hard work of Nereid for creating Final Frontier, this mod would not have been possible.
#
# Syntax of file:
# ---------------
# NAME:<name of ribbon pack>
# FOLDER:<folder containing ribbons>
# BASE:<base for ribbon IDs (optional, default: 0)>
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# [...]
#
# Do not use any <Ribbon ID> twice even its is used by another ribbon pack.
#
# If a base for this ribbon pack is set, all IDs are offsets from this base. If a ribbon gets ID 17 and the BASE is set to 7000, the used ID is 7017.
#
# Do not use IDs below 1001!
#

NAME:adsii1970Ribbons
FOLDER:Ribbons
BASE:4000
1:air-000:Trainee (Air):Awarded to those who have completed air services basic training.:9999
2:air-001:Jr Lieutenant:Awarded to those who have completed training and 1 year of service.:9999
3:air-002:Lieutenant:Awarded to those who have 2 years of service or equivalent skill.:9999
4:air-003:Major:Awarded to those who have 3 years of service or equivalent skill.:9999
5:air-004:Lt Commander:Awarded to those who have 5 years of service or equivalent skill.:9999
6:air-005:Commander:Awarded to those who have 7 years of service or equivalent skill.:9999
7:air-006:Captain:Awarded to those who have 10 years of service or equivalent skill.:9999
8:air-007:Brigadeer:Awarded to those who have 13 years of service or equivalent skill.:9999
9:air-008:Lt General:Awarded to those who have 17 years of service or equivalent skill.:9999
10:air-009:Maj General:Awarded to those who have 20 years of service or equivalent skill.:9999
11:air-010:General:Awarded to those who have 25 years of service or equivalent skill.:9999
12:ground-000:Trainee (Ground):Awarded to those who have completed air services basic training.:9999
13:ground-001:Jr Lieutenant:Awarded to those who have completed training and 1 year of service.:9999
14:ground-002:Lieutenant:Awarded to those who have 2 years of service or equivalent skill.:9999
15:ground-003:Major:Awarded to those who have 3 years of service or equivalent skill.:9999
16:ground-004:Lt Commander:Awarded to those who have 5 years of service or equivalent skill.:9999
17:ground-005:Commander:Awarded to those who have 7 years of service or equivalent skill.:9999
18:ground-006:Captain:Awarded to those who have 10 years of service or equivalent skill.:9999
19:ground-007:Brigadeer:Awarded to those who have 13 years of service or equivalent skill.:9999
20:ground-008:Lt General:Awarded to those who have 17 years of service or equivalent skill.:9999
21:ground-009:Maj General:Awarded to those who have 20 years of service or equivalent skill.:9999
22:ground-010:General:Awarded to those who have 25 years of service or equivalent skill.:9999
23:naval-000:Trainee (Naval):Awarded to those who have completed air services basic training.:9999
24:naval-001:Jr Lieutenant:Awarded to those who have completed training and 1 year of service.:9999
25:naval-002:Lieutenant:Awarded to those who have 2 years of service or equivalent skill.:9999
26:naval-003:Major:Awarded to those who have 3 years of service or equivalent skill.:9999
27:naval-004:Lt Commander:Awarded to those who have 5 years of service or equivalent skill.:9999
28:naval-005:Commander:Awarded to those who have 7 years of service or equivalent skill.:9999
29:naval-006:Captain:Awarded to those who have 10 years of service or equivalent skill.:9999
30:naval-007:Commodore:Awarded to those who have 13 years of service or equivalent skill.:9999
31:naval-008:Lt Admiral:Awarded to those who have 17 years of service or equivalent skill.:9999
32:naval-009:Staff Admiral:Awarded to those who have 20 years of service or equivalent skill.:9999
33:naval-010:Admiral:Awarded to those who have 25 years of service or equivalent skill.:9999
34:space-000:Trainee (Space):Awarded to those who have completed air services basic training.:9999
35:space-001:Jr Lieutenant:Awarded to those who have completed training and 1 year of service.:9999
36:space-002:Lieutenant:Awarded to those who have 2 years of service or equivalent skill.:9999
37:space-003:Major:Awarded to those who have 3 years of service or equivalent skill.:9999
38:space-004:Lt Commander:Awarded to those who have 5 years of service or equivalent skill.:9999
39:space-005:Commander:Awarded to those who have 7 years of service or equivalent skill.:9999
40:space-006:Captain:Awarded to those who have 10 years of service or equivalent skill.:9999
41:space-007:Commodore:Awarded to those who have 13 years of service or equivalent skill.:9999
42:space-008:Lt Admiral:Awarded to those who have 17 years of service or equivalent skill.:9999
43:space-009:Staff Admiral:Awarded to those who have 20 years of service or equivalent skill.:9999
44:space-010:Admiral:Awarded to those who have 25 years of service or equivalent skill.:9999
